Diagnostics:
    UnusedIncludes: None
    Suppress: [unknown_typename, ovl_no_viable_function_in_call]
    ClangTidy:
        Remove:
            [
                bugprone-narrowing-conversions,
                bugprone-switch-missing-default-case,
                bugprone-narrowing-conversions,
                bugprone-empty-catch,
            ]
CompileFlags:
    Add: [-std=c++23]
    Compiler: g++
